<div class="container">
  <h2 class="text-center"> <%= @flats.count %> résultats à <%= params[:city] %></h2>

  <% @flats.each do |flat| %>
  <p> <%= flat.ad_url %> | <%= flat.price %>€/mois | T<%= flat.nb_rooms %></p>
  <% end %>

</div>
