<!-- barre de recherche  -->
  <div class="split criterias">
    <h5> TYPE DE RECHERCHE</h5>
    <div class = "inline input-searches">
      <div class="checkbox">
        <input id="check" type="radio" name="rent_or_buy" value="louer" class="hidden" CHECKED>
        <label for="check" class="label-index"> Louer </label>
      </div>
      <div class="checkbox">
        <input id="check2" type="radio" name="rent_or_buy" value="acheter" class="hidden">
        <label for="check2" class="label-index"> Acheter </label>
      </div>
    </div>
      <h5> LOCALISATION </h5>
      <%= text_field_tag :city,
          params[:city],
          placeholder: "Localisation",
          class: "form-control"
          %>
      <h5> BUDGET </h5>
      <div>
          <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
      </div>
      <h5> SURFACE </h5>
      <div>
          <input type="range" name="price-min" id="price-min" value="200" min="0" max="1000">
      </div>
    <h5> TYPE DE BIEN</h5>
    <div class = "inline input-searches">
      <div class="checkbox ">
        <input id="studio" type="checkbox" name="studio" value="T1" class="hidden" CHECKED>
        <label for="studio" class="label-index"> Studio </label>
      </div>
      <div class="checkbox ">
        <input id="T1" type="checkbox" name="T1" value="T1" class="hidden">
        <label for="T1" class="label-index"> T1 </label>
      </div>
      <div class="checkbox ">
        <input id="T2" type="checkbox" name="T2" value="T2" class="hidden">
        <label for="T2" class="label-index"> T2 </label>
      </div>
      <div class="checkbox ">
        <input id="T3" type="checkbox" name="T3" value="T3" class="hidden">
        <label for="T3" class="label-index"> T3 </label>
      </div>
      <div class="checkbox ">
        <input id="T4" type="checkbox" name="T4" value="T4" class="hidden">
        <label for="T4" class="label-index"> T4 </label>
      </div>
    </div>
      <h5> MOBILIER </h5>
      <div class = "inline input-searches">
        <div class="checkbox">
          <input id="furnished" type="radio" name="furnished" value="louer" class="hidden" CHECKED>
          <label for="furnished" class="label-index"> Meublé </label>
        </div>
        <div class="checkbox">
          <input id="not-furnished" type="radio" name="furnished" value="acheter" class="hidden">
          <label for="not-furnished" class="label-index"> Non meublé </label>
        </div>
      </div>
      <h5> TYPE D'ANNONCE </h5>
      <div class = "inline input-searches">
        <div class="checkbox">
          <input id="particuliers" type="radio" name="particulier" value="louer" class="hidden" CHECKED>
          <label for="particuliers" class="label-index"> Particuliers </label>
        </div>
        <div class="checkbox">
          <input id="pro" type="radio" name="particulier" value="acheter" class="hidden">
          <label for="pro" class="label-index"> Professionnels </label>
        </div>
      </div>
      <button class="btn-transparent-grey centered"> Créer une alerte </button>
    </div>
  </div>
  </div>

<!-- colonne droite avec résultats du scrap  -->

  <div class="split results">
    <h5> <%= @flats.count %> résultats</h5>
    <% @flats.each_with_index do |flat, index| %>
    <% myCarousel = "myCarousel#{index.to_s}" %>
    <% myCarousel_href = "#myCarousel#{index.to_s}" %>
    <a class="white-circle margin-left-10"> <span class="heart"> </span> </a>
    <div class="card">
      <div class="card-picture">
        <div id= <%= myCarousel %> class="carousel slide" data-ride="carousel" data-interval="false">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <li data-target= <%=myCarousel_href%> data-slide-to="0" class="active"></li>
            <li data-target= <%=myCarousel_href%> data-slide-to="1"></li>
            <li data-target= <%=myCarousel_href%> data-slide-to="2"></li>
          </ol>
          <!-- Wrapper for slides -->
          <div class="carousel-inner card-picture">
            <div class="item active">
              <img src="<%= flat.photos.first %>" class="card-picture">
            </div>
            <div class="item card-picture">
              <img src="<%= flat.photos[1]%>" class="card-picture" >
            </div>
            <div class="item card-picture">
              <img src="<%= flat.photos[2]%>" class="card-picture" >
            </div>
          </div>
          <!-- Left and right controls -->
          <a class="left carousel-control" href=<%=myCarousel_href%> data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href=<%=myCarousel_href%> data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <div class="card-informations">
        <div class="card-title">
          <p> Appartement à <%= flat.city %> (<%= flat.zipcode %>)</p>
        </div>
        <div class="infos">
          <p> <span> T<%=flat.nb_rooms%> </span>
          <span><%=flat.surface_ground%>m² </span> </p>
        </div>
        <div class="bedrooms">
          <%if flat.nb_bedrooms > 1 %>
          <p> <%= flat.nb_bedrooms %> chambres </p>
          <% else %>
          <p> <%= flat.nb_bedrooms %> chambre </p>
          <% end %>
        </div>
        <div class="price">
          <p><strong> <%=flat.price%>€ </strong>
            <% if params[:rent_or_buy] == "louer" %>
            / mois
          <% end%></p>
        </div>
        <div class="centered-bottom">
          <a class="btn-green" href="<%= flat.ad_url %>" target="_blank"> Découvrir</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>


