<div class="container">

  <%= form_tag flats_path, method: :get do %>
     <div class="checkbox">
      <input id="check" type="checkbox" name="louer_query" value="louer" class="hidden">
      <label for="check"> LOUER </label>
    </div>
    <div class="checkbox">
      <input id="check2" type="checkbox" name="acheter_query" value="Acheter" class="hidden">
      <label for="check2"> ACHETER </label>
    </div>
    <span>
    <%= text_field_tag :city_query,
      params[:city],
      class: "form-control",
      placeholder: "Localisation"
    %>
    <%= text_field_tag :price_query,
      params[:price],
      class: "form-control",
      placeholder: "Budget Maximum"
    %>
    <%= text_field_tag :nb_rooms_query,
      params[:nb_rooms],
      class: "form-control",
      placeholder: "Nombre de pièces"
    %>
    <%= submit_tag "Rechercher",  class: "btn-green" %>
    </span>
  <% end %>

</div>
