<!-- <div class="container"> -->
<div class="banner-content background_home">
  <h1>Recherchez sur des dizaines de sites immobiliers à la fois</h1>
  <div class = "container barre_recherche">
    <%= form_tag flats_path, method: :get do %>
    <div class = "row input_searches">
      <div class="checkbox">
        <input id="check" type="radio" name="rent_or_buy" value="louer" class="hidden" CHECKED>
        <label for="check"> LOUER </label>
      </div>
      <div class="checkbox">
        <input id="check2" type="radio" name="rent_or_buy" value="acheter" class="hidden">
        <label for="check2"> ACHETER </label>
      </div>
    </div>
    <div class = "row input_searches">
      <%= text_field_tag :city,
      params[:city],
      class: "form-control",
      placeholder: "Localisation"
      %>
      <%= text_field_tag :price,
      params[:price],
      class: "form-control",
      placeholder: "Budget Maximum"
      %>
      <%= text_field_tag :nb_rooms,
      params[:nb_rooms],
      class: "form-control",
      placeholder: "Nombre de pièces"
      %>
      <%= submit_tag "Rechercher",  class: "btn-green btn_barre_recherche" %>
      <% end %>
    </div>
  </div>
</div>
<div class="container home_elements">
  <ul>
    <div class="row titre_last_searches">
      <li class="titre2_homepage li-style">Mes dernières recherches</li>
    </div>
    <div class="row cards_last_searches">
      <div class="card_alert">
        <div>
          <h5 class="card_alerte_title">
          Location Paris 15eme
          <span class="bell"> <%= image_tag "bell-53.svg"%>
          </span>
          </h5>
        </div>
        <div>
          <p class="colon-left"> Budget Max :</p>
          <p class="colon_right"> 1500 € </p>
        </div>
        <div>
          <p class="colon-left"> Nombre de pièces :</p>
          <p class="colon_right"> 3 </p>
        </div>
        <a href="" class="btn-red-small centered"> Rechercher
        </a>
      </div>
      <div class="card_alert">
        <div>
          <h5 class="card_alerte_title">
          Location Paris 15eme
          <span class="bell"> <%= image_tag "bell-53-empty.svg"%>
          </span>
          </h5>
        </div>
        <div>
          <p class="colon-left"> Budget Max :</p>
          <p class="colon_right"> 1500 € </p>
        </div>
        <div>
          <p class="colon-left"> Nombre de pièces :</p>
          <p class="colon_right"> 3 </p>
        </div>
        <a href="" class="btn-red-small centered"> Rechercher
        </a>
      </div>
      <div class="card_alert">
        <div>
          <h5 class="card_alerte_title">
          Location Paris 15eme
          <span class="bell"> <%= image_tag "bell-53-empty.svg"%>
          </span>
          </h5>
        </div>
        <div>
          <p class="colon-left"> Budget Max :</p>
          <p class="colon_right"> 1500 € </p>
        </div>
        <div>
          <p class="colon-left"> Nombre de pièces :</p>
          <p class="colon_right"> 3 </p>
        </div>
        <a href="" class="btn-red-small centered"> Rechercher
        </a>
      </div>
    </div>
    <div class="row titre_contenu">
      <li class="titre2_homepage_gris li-style">Une solution pour faciliter votre recherche de bien immobilier
</li>
    </div>
    <p> Immoscan est une solution développée par 4 étudiants du Wagon Marseille. Ce site vous permet de vous faciliter votre recherche de bien immobilier en rassemblant toutes les offres des sites d'annonces immobilières en une seule plateforme.
    Trouvez votre prochain chez vous sera plus simple et plus facile ! 😊</p>
    <p> Nous travaillons tous les jours pour ajouter de plus en plus de sites dans notre plateforme ! </p>
    <div class="row titre_contenu">
      <li class="titre2_homepage_gris li-style"> Nos annonces immobilières proviennent des sites les plus reconnus </li>
      <img class="logos_scrap" src="https://res.cloudinary.com/mcouraud/image/upload/v1544534381/pap.png" alt="pap">
      <img class="logos_scrap" src="https://res.cloudinary.com/mcouraud/image/upload/v1544534382/seloger.png" alt="seloger">
      <img class="logos_scrap" src="https://res.cloudinary.com/mcouraud/image/upload/v1544534380/logicimmo.png" alt="logicimmo">
    </div>
  </ul>
</div>
