
  <%= form_tag flats_path, method: :get do %>
     <div class="checkbox">
      <input id="check" type="radio" name="rent_or_buy" value="louer" class="hidden" CHECKED>
      <label for="check"> LOUER </label>
    </div>
    <div class="checkbox">
      <input id="check2" type="radio" name="rent_or_buy" value="acheter" class="hidden">
      <label for="check2"> ACHETER </label>
    </div>
    <span>
    <%= text_field_tag :city,
      params[:city],
      class: "form-control",
      placeholder: "Localisation"
    %>
    <%= text_field_tag :price,
      params[:price],
      class: "form-control",
      placeholder: "Budget Maximum"
    %>
    <%= text_field_tag :nb_rooms,
      params[:nb_rooms],
      class: "form-control",
      placeholder: "Nombre de pièces"
    %>
    <%= submit_tag "Rechercher",  class: "btn-green" %>
    </span>
  <% end %>


